@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<section class="pb_xl_py_cover pb_gradient_v1" style="padding:0px !important; background-image: url(assets/images/1900x1200_img_5.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5 justify-content-center">
                <h2 class="heading mb-5 pb_font-40">Recover your password</h2>
                <div class="sub-heading">
                    <p class="mb-4">You requested to reset your password, fill in the form with your new data.</p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <form asp-controller="Account" asp-action="AccountVisualController" enctype="multipart/form-data" method="post" class="bg-white rounded pb_form_v1">
                    <h2 class="mb-4 mt-0 text-center">Reset Password</h2>
                    <div asp-validation-summary="All" class="text-danger">
                        <input asp-for="Token" type="hidden" />
                        <div class="form-group">
                            <input asp-for="Email" type="text" class="form-control py-3 reverse" placeholder="Email" readonly>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="NewPassword" type="password" class="form-control py-3 reverse" placeholder="New Password">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="ConfirmPassword" type="password" class="form-control py-3 reverse" placeholder="Confirm Password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <p style="color:darkgray">Make sure your password is complex, contains at leaset one Uppercase, one lowercase, a special character and a number.</p>
                        @*<div class="form-group pb_height-60" style="visibility:hidden"></div>*@
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" value="Confirm">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END section -->
