
@{
    ViewBag.Title = "Personal Safety";
}

<style>

    .new_content.new_content_static {
        background: rgb(250, 245, 226);
    }

    .new_content.new_content_animation {
        -webkit-animation: pulse 0.6s ease-in-out infinite alternate;
        animation: pulse 0.6s ease-in-out infinite alternate;
    }

    @@-webkit-keyframes pulse {
        0% {
            background: transparent;
        }
        50% {
            background: rgb(250, 245, 226);
        }
        100% {
            background: transparent;
        }
    }

    @@keyframes pulse {
        0% {
            background: transparent;
        }
        50% {
            background: rgb(250, 245, 226);
        }
        100% {
            background: transparent;
        }
    }
</style>

<section class="pb_cover_v3 overflow-hidden cover-bg-indigo cover-bg-opacity text-left pb_gradient_v1 pb_slant-white" id="section-home">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <h2 class="heading mb-3" style="display:inline">Server Running</h2>
                <div class="sub-heading">
                    <p class="mb-4">Head to the <a href="~/swagger" target="_blank" style="text-decoration:none; " class="text-primary">documentation</a> to make use of our publicly available API, or check out the new content below.</p>
                    <p class="mb-5"><a id="btn-new-contents" target="_blank" class="border-0 btn btn-primary btn-lg pb_btn-pill smoothscroll" href="#header-bookmarks"><span class="pb_font-14 text-uppercase pb_letter-spacing-1">NEW CONTENTS</span></a></p>
                </div>
            </div>
            <div class="col-md-1">
            </div>

        </div>
    </div>
</section>

<section class="pb_section bg-white pb_pb-250" id="section-bookmarks">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-6 text-center mb-5">
                <div class="pb_feature-v1"><div class="pb_icon"><i class="ion-ios-bookmarks-outline pb_icon-gradient"></i></div></div>
                <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Bookmarks</strong></h5>
                <h2 id="header-bookmarks">New Content</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md- col-sm-12">
                <div class="media d-block pb_feature-v1 text-left">
                    <div class="media-body">
                        <ul class="list-group text-sans-serif">

                            <li class="list-group-item d-flex justify-content-between align-items-center new_content new_content_animation">
                                <div>
                                    <p class="text-primary"><strong>Firebase Notifications</strong></p>
                                    <p>Push notifications are now controlled by a master switch accessible from the Admin Panel.</p>
                                </div>
                                <span class="badge badge-success badge-pill">NEW!</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center new_content new_content_animation">
                                <div>
                                    <p class="text-primary"><strong>Events</strong></p>
                                    <p>Events are now live! Here are their features:</p>
                                    <ul>
                                        <li>Clients can post community events and stories that occur in the neighborhood</li>
                                        <li>Clients can be "Victims" of a particular event, and might need help from other community memebers</li>
                                        <li>Other clients can take part in being "Volunteers" and get involved in helping nearby "Victims"</li>
                                        <li>Clients in a particular city will get a push silent notification whenever events in their district changes or get updated</li>
                                        <li>Clients can share their live location on a Realtime tracking channel so "Victims" and "Volunteers" can find each other easily</li>
                                    </ul>
                                </div>
                                <span class="badge badge-success badge-pill">NEW!</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center new_content new_content_animation">
                                <div>
                                    <p class="text-primary"><strong>Rescuers Rating System</strong></p>
                                    <p>
                                        Clients can now submit a user rating for the rescuer responsible for helping them.
                                        <br />
                                        New Endoint resides at <samp>Client/SOS/RateRescuer</samp>.
                                    </p>
                                </div>
                                <span class="badge badge-success badge-pill">NEW!</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center new_content new_content_animation">
                                <div>
                                    <p class="text-primary"><strong>Realtime Location Tracking</strong></p>
                                    <p>
                                        New SignalRHub at <samp>hubs/location</samp>. Created for tracking the locations of rescuers in the departments.
                                        <br />
                                        More info and docs available <a href="/RealtimeClient#LocationHubDocs">here</a>.
                                    </p>
                                </div>
                                <span class="badge badge-success badge-pill">NEW!</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-primary"><strong>Emails and Profiles</strong></p>
                                    <ul>
                                        <li>
                                            <samp>EditProfile</samp> (previously <samp>CompleteProfile</samp>) now supports modifying the client's Fullname, PhoneNumber, and NationalId.
                                            This method can now be used in various ways:
                                            <ul>
                                                <li>Providing client information the first time he logs in</li>
                                                <li>Editing his profile</li>
                                                <li>Deleting/Modifying his emergency contacts</li>
                                            </ul>
                                        </li>
                                        <li>Any account can now change his email using <samp>Account/ChangeEmail</samp> and <samp>Account/SubmitChangeEmail</samp></li>
                                        <li>All account actions, specially sensitive ones will result in a unique email to be sent. <a href="~/PreviewEmails">Here is the current full list of email templates</a> sent out to users. </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-primary"><strong>Distributions and Permissions</strong></p>
                                    <p>
                                        System now supports dynamic permission handling through a tree of nodes, called "Distribution".
                                        <br /> Acquiring a distribution node as a claim means you have access to any department under that node.
                                    </p>
                                    <p>To consume these new permission rules, a "Manager" is needed and is registered via the one and only Super Admin.</p>
                                    <p>Distributions affects mostly "Admins" and "Managers".</p>
                                    <p class="text-secondary"><strong>New Content</strong></p>
                                    <ul>
                                        <li><samp>Admin/Management</samp> endpoint to manage the distribution setup.</li>
                                        <li>
                                            <samp>Manager</samp> controller that allows access to assigned departments and Requests within these departments.
                                            <ul>
                                                <li>Admins can also use this controller with super permissions (access to all departments granted).</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-primary"><strong>Admin Panel</strong></p>
                                    <p>Simple page to quickly view current SignalR connections to the server, review hub logs, access to this page needs and Administrator privileges though.</p>
                                    <p>Admin can now reset all system trackers for local troubleshooting.</p>
                                    <p class="text-secondary"><strong>New Content: Major Enhancements</strong></p>
                                    <ul>
                                        <li>Thorough information about current connections.</li>
                                        <li>Force offline Rescuers and Clients selectively using their emails.</li>
                                        <li>Reactive console that updates its contents in realtime.</li>
                                    </ul>
                                </div>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-primary"><strong>Authentication: Refresh Tokens</strong></p>
                                    <ul>
                                        <li>New return object for <samp>api/Account/Login</samp> method</li>
                                        <li>New feature for refreshing <strong>Bearer Tokens</strong>, <samp>api/Account/RefreshToken</samp></li>
                                        <li>New method for retrieving info about the logged in Personnel, <samp>api/Account/Personnel/GetBasicInfo</samp></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-primary"><strong>Departments</strong></p>
                                    <p class="text-secondary">The system now ships with 12 different departments, their locations are distributed among <strong>Alexandria, Cairo, and Tanta</strong>. Each city contains 4 departments with actual locations of real life dispatch centers.</p>
                                    <p class="text-secondary">Information about these departments can be retrieved by an <samp>Admin</samp> role through an endpoint method in the API, <samp>/api/Admin/GetDepartments</samp>.</p>
                                    <p class="text-secondary">Admins can easily attach new agents to existing departments by providing the <strong>existing department id</strong> or just create a new department through the creation of the agent account.</p>
                                    <p class="text-secondary">Additionally, new SOSRequests gets assigned to the nearest department serving the type of the request. <br /> Only agents within that department gets notified to refresh their tables. <br /> Changes of the online state of the rescuers also only reach agents of the same department.</p>
                                </div>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-primary"><strong>Orphanage</strong></p>
                                    <p class="text-secondary">Due to latest code enhancements, orphanage state is not relevant anymore, Agents can only upgrade a pending request to be accepted if both the rescuer and the client were online. <br /> If clients lose connection, they can issue a reconnection and Agents would then be able to accept the request.</p>
                                </div>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-primary"><strong>Facebook Login</strong></p>
                                    <ul>
                                        <li>Quickly grant user access to the system services by using his unique Facebook <samp>access_token</samp>.</li>
                                        <li>Quickly try the new Facebook Login API Endpoints by generating an access token from <a href="/FacebookLoginTool">this tool</a>.</li>
                                    </ul>
                                </div>
                            </li>

                            <!--Old Changes that were removed-->

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a style="text-decoration: none; color: darkgrey"><strike>Personnel Endpoint</strike></a>
                                <span class="badge badge-light badge-pill">REMOVED</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a style="text-decoration: none; color: darkgrey"><strike>User Endpoint</strike></a>
                                <span class="badge badge-light badge-pill">REMOVED</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/home.js" type="module"></script>
}