
@{ 
    ViewBag.Title = "Personal Safety";
}


<section class="pb_cover_v3 overflow-hidden cover-bg-indigo cover-bg-opacity text-left pb_gradient_v1 pb_slant-white" id="section-home">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <h2 class="heading mb-3" style="display:inline">Server Running</h2>
                <div class="sub-heading">
                    <p class="mb-4">Head to the <a href="~/swagger" target="_blank">documentation</a> to make use of our publicly available API, or check out the new content below.</p>
                    <p class="mb-5"><a target="_blank" class="btn btn-success btn-lg pb_btn-pill smoothscroll" href="#section-bookmarks"><span class="pb_font-14 text-uppercase pb_letter-spacing-1">NEW CONTENTS</span></a></p>
                </div>
            </div>
            <div class="col-md-1">
            </div>

        </div>
    </div>
</section>

<section class="pb_section bg-white pb_pb-250" id="section-bookmarks">
      <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-6 text-center mb-5">
                <div class="pb_feature-v1"><div class="pb_icon"><i class="ion-ios-bookmarks-outline pb_icon-gradient"></i></div></div>
                <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Bookmarks</strong></h5>
                <h2>Quick Links</h2>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md- col-sm-12">
            <div class="media d-block pb_feature-v1 text-left">
              <div class="media-body">


                  <ul class="list-group text-sans-serif">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div>
                              <a href="~/swagger" target="_blank" style="text-decoration:none">Facebook Login Endpoints</a>
                              <p>Quickly grant user access to the system services by using his unique Facebook <samp>access_token</samp>.</p>
                              <p>Available methods are <samp>/Client/Registration/LoginWithFacebook</samp> for exsisting clients and <samp>/Client/Registration/RegisterWithFacebook</samp> for new clients.</p>
                          </div>
                          <span class="badge badge-success badge-pill">NEW!</span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div>
                              <a href="~/FacebookLoginTool" style="text-decoration:none">Facebook Login Tool</a>
                              <p>Quickly try the new Facebook Login API Endpoints by generating an access token from this tool.</p>
                          </div>
                          <span class="badge badge-success badge-pill">NEW!</span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div>
                              <a href="~/swagger" target="_blank" style="text-decoration:none">Complete Profile</a>
                              <p>Clients can now update their birthday to be used in retrieving their SOS Requests</p>
                          </div>
                          <span class="badge badge-warning badge-pill">Important</span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div>
                              <a href="~/RealtimeClient" style="text-decoration:none">Realtime Client</a>
                              <p>As a <b>Client</b>, sending SOS requests requires a valid <b>ongoing realtime</b> connection with the server, verified and maintained via a <samp>ConnectionId</samp> which is generated from <a href="~/RealtimeClient" target="_blank">here</a> after supplying a valid <samp>token</samp>. <br /> This <samp>ConnectionId</samp> helps the server in tracking the request state changes, where it can notify who's subscribed with relevant changes. <br />In a nutshell, this <b>Realtime</b> tool acts as a Swagger-like service to test the current connection with the server, and receive relevant messages upon state changes.</p>
                          </div>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div>
                              <a href="~/Admin" style="text-decoration:none">Adminstrator Portal</a>
                              <p>Simple page to quickly view current SignalR connections to the server. Access to this page needs and Adminstrator privileges though. <br /> Also note that the page supports saving user token in cookies, be aware that tokens expire every 2 hours and so does these cookies.</p>
                          </div>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div>
                              <a href="~/swagger" target="_blank" style="text-decoration:none">Current Endpoints</a>
                              <ul>
                                  <li>Account management endpoint at <samp>api/Account</samp></li>
                                  <li>Clients endpoint for completing registration at <samp>api/Client/Registration</samp></li>
                                  <li>Clients endpoint for SOS actions at <samp>api/Client/SOS</samp></li>
                                  <li>Personnel endpoint at <samp>api/Personnel</samp></li>
                                  <li>Admin endpoint at <samp>api/Admin</samp></li>
                              </ul>
                          </div>
                      </li>

                      <!--Old Changes that were removed-->

                      <li class="list-group-item d-flex justify-content-between align-items-center">
                          <a style="text-decoration:none; color:darkgrey"><strike>User Endpoint</strike></a>
                          <span class="badge badge-light badge-pill">REMOVED</span>
                      </li>
                  </ul>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>