@{
    ViewData["Title"] = "Realtime Client";
}

<section class="pb_xl_py_cover pb_gradient_v1" style="padding:0px !important; background-image: url(assets/images/1900x1200_img_5.jpg);">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-4 justify-content-center">
                    <h2 class="heading mb-5 pb_font-40">Realtime Client</h2>
                    <div class="sub-heading">
                        <p class="mb-4">Use this client to test API Requests that needs a valid established connection with the server's realtime channel.</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div id="start_of_form" class="col-md-7">
                    <div class="bg-white rounded pb_form_v1">
                        <h2 class="mb-4 mt-0 text-center">Login</h2>
                        <div>
                            <div class="form-group">
                                <input id="ip_email" type="email" class="form-control py-3 mb-2 reverse" placeholder="Email" required>
                                <input id="ip_password" type="password" class="form-control py-3 reverse" placeholder="Password" required>
                            </div>
                            
                            <div class="form-group">
                                <p class="text-danger" id="login_result" hidden>Wrong Username or Password..</p>
                            </div>

                            <div class="form-group">
                                <a id="btn_connect" class="text-light btn btn-primary btn-lg btn-block pb_btn-pill btn-shadow-milon"
                                   style="text-decoration: none; border:none">
                                    <span id="btn_connect_label">Connect</span>
                                    <div id="btn_connect_animation" class="spinner-border" style="width: 1.5rem; height: 1.5rem"role="status" hidden>
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div id="hidden_div_till_connected" hidden>

                            <div class="pb_height-5" style="visibility:hidden"></div>
                            <hr />
                            <div class="pb_height-10" style="visibility:hidden"></div>

                            <div id="alert_container_role" class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Current role: </strong> <samp id="samp_role">role</samp>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="alert_container_link_to_docs" class="alert alert-warning alert-dismissible fade show" role="alert">
                                <a id="a_scroll_to_docs" class="text-dark" style="text-decoration:none; cursor: pointer;">Documentation available below.</a>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div id="alert_container_client_solved" class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
                                <span class="text-dark">Your latest request was marked solved. Current Connection is now invalid. Reconnect below..</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div>
                                <div class="form-group">
                                    <input id="result_email" type="text" class="form-control py-3 reverse" placeholder="Your Email" disabled>
                                </div>
                                <div class="input-group mb-3">
                                    <input id="result_connectionId" type="text" class="form-control py-3 reverse" style="font-family:Consolas, monospace" placeholder="Your ConnectionId" disabled>
                                    <div class="input-group-append">
                                        <button id="btn_copy_to_clipboard" class="btn btn-secondary" type="button" autocomplete="off">Copy</button>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input id="result_msg" type="text" class="form-control py-3 reverse pb_color-primary" placeholder="Messages received from the server appears here" disabled>
                                    <div class="input-group-append">
                                        <button id="btn_clear" class="btn btn-secondary" type="button" autocomplete="off">Clear</button>
                                    </div>
                                </div>
                                <div class="input-group mb-3" id="location_chat_div" hidden>
                                    <input id="send_msg" type="text" class="form-control py-3 reverse pb_color-primary" value="30.12345, 30.12345" disabled>
                                    <div class="input-group-append">
                                        <button id="btn_send" class="btn btn-primary" type="button" autocomplete="off">Send</button>
                                    </div>
                                </div>
                                <div class="input-group mb-3" id="location_response_div" hidden>
                                    <textarea id="location_result_msg" type="text" class="form-control py-3 reverse pb_color-primary" placeholder="Messages received from the server appears here" disabled></textarea>
                                </div>

                                <div id="client_event_div" hidden>
                                    <hr />

                                    <div class="input-group mb-3">
                                        <input id="field_event_id" type="text" class="form-control py-3 reverse pb_color-primary" placeholder="Event Id goes here">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-secondary" id="button_event_join">Join</button>
                                        </div>
                                    </div>

                                    <div class="input-group mb-3">
                                        <input id="field_event_latitude" type="text" class="form-control py-3 reverse pb_color-primary" placeholder="Latitude">
                                        <input id="field_event_longitude" type="text" class="form-control py-3 reverse pb_color-primary" placeholder="Longitude">
                                        <div class="input-group-append">
                                            <button type="button" id="button_send_event_location" class="btn btn-secondary">Send</button>
                                        </div>
                                    </div>

                                    <div class="input-group mb-3" id="event_response_div">
                                        <textarea id="area_location_log" type="text" class="form-control py-3 reverse pb_color-primary" placeholder="Messages received from the server appears here" disabled></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="row justify-content-center align-items-center">
                                <a id="link_reconnect" href="#" class="text-danger">Reconnect</a>
                                &#160;
                                &#160;
                                <a id="link_disconnect" href="#" class="text-danger">Disconnect</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="pb_section pb_slant-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 pl-md-5 pl-sm-0">
                <div class="row">
                    <div class="col">
                        <h1>Documentation</h1>
                        <p class="pb_font-18">Below is a simple introduction on how to use the Realtime Client tool, and what to expect from messages received from the server.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2>General Notes</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <div class="media pb_feature-v2 text-left mb-1 mt-1">
                            <div class="media-body">
                                <h3 class="mt-2 mb-2 heading">Connecting to the Server</h3>
                                <p class="text-sans-serif pb_font-16">Connecting to the SignalR Server Service needs a valid token (exactly the same as the one received after a successful login attempt).</p>
                                <p class="text-sans-serif pb_font-16">The server listens for connections to different Hubs on different endpoints.<br /> Currently, the available hubs to connect to are: </p>
                                <ul class="text-sans-serif pb_font-16">
                                    <li>AdminHub @@ <samp>/hubs/admin</samp></li>
                                    <li>ClientHub @@ <samp>/hubs/client</samp></li>
                                    <li>PersonnelHub @@ <samp>/hubs/personnel</samp></li>
                                    <li>RescuerHub @@ <samp>/hubs/rescuer</samp></li>
                                </ul>
                                <p class="text-sans-serif pb_font-16">Different hubs may require specific user <strong>Roles</strong> to be granted access to the hub. <br /> Note that information about roles current user have can be decompiled from the Bearer token.</p>
                                <p class="text-sans-serif pb_font-16">After providing the token for the connection object and initiating the connection, users should be granted access to various channels each for their own type of data expectancy.</p>
                                <p class="text-sans-serif pb_font-16">Upon establishing a connection with the server, the server <strong>automatically</strong> sends connection information to the <samp>caller</samp> on the <code>ConnectionInfoChannel</code>, Connection information is sent in the form of arguments:</p>
                                <ul class="text-sans-serif pb_font-16">
                                    <li><samp>arg1</samp>: ConnectionId</li>
                                    <li><samp>arg2</samp>: UserEmail</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h2 id="client_docs">Client Hub</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <div class="media pb_feature-v2 text-left mb-1 mt-1">
                            <div class="media-body">
                                <h3 class="mt-2 mb-2 heading"><code>ClientChannel</code></h3>

                                <p class="text-sans-serif pb_font-16"><strong>Usage: </strong> Tracing the changes that occurs to a new SOS request, from being <strong>Pending</strong> until being <strong>Accepted</strong>, or <strong>Canceled</strong> by the client.</p>
                                <p class="text-sans-serif pb_font-16"><strong>Expected Messages: </strong> Pings about changes to the current SOS the client is requesting. <br />Pings are sent in the form of arguments:</p>
                                <ul class="text-sans-serif pb_font-16">
                                    <li><samp>arg1</samp>: SOSRequestId</li>
                                    <li><samp>arg2</samp>: SOSRequestStatus</li>
                                </ul>
                                <h3 class="mt-2 mb-2 heading">General Notes: </h3>
                                <ul class="text-sans-serif pb_font-14">
                                    <li>The online state of a client is generally <strong>essential</strong> for the request to be sent and remain alive (non-orphaned).</li>
                                    <li>Once a request is sent, the client is tracked and his connection info can change (disconnect and reconnect) without impacting the state of the request.</li>
                                    <li>Accepting the request by an Agent <strong>requires</strong> the client to be online at this point, else the request would be detected as orphaned. However if the client became online once again, the agent could retry accepting the request and the process would continue normally</li>
                                    <li>Canceling the request also checks for client connectivity (by nature) and detects if he's offline and marks the request as orphaned.</li>
                                    <li>If the client was online (normal condition) while trying to cancel the request, all involved entities would be notified by the update, namely the Agent (to update their front end tables) and the assigned rescuer.</li>
                                    <li>Trying to mark the request as Solved by the assigned Rescuer doesn't need the client to be online, and would process normally anyways, so, Rescuers would become idle again and Agents would be notified to update their front end tables.</li>
                                </ul>

                                <h3 class="mt-2 mb-2 heading"><code>ClientEventsChannel</code></h3>
                                <p class="text-sans-serif pb_font-16"><strong>Usage: </strong> This channel is responsible for passing locations between victims and volunteers within an active Event.</p>

                                <p class="text-sans-serif pb_font-16"><strong>Methods that can be Invoked: </strong></p>
                                <ul class="text-sans-serif pb_font-14">
                                    <li>
                                        JoinEventRoom
                                        <ul class="text-sans-serif pb_font-12">
                                            <li><samp>arg1: string userEmail</samp></li>
                                            <li><samp>arg2: int eventId</samp></li>
                                        </ul>
                                    </li>
                                    <li>
                                        LeaveEventRoom
                                        <ul class="text-sans-serif pb_font-12">
                                            <li><samp>arg1: string userEmail</samp></li>
                                            <li><samp>arg2: int eventId</samp></li>
                                        </ul>
                                    </li>
                                    <li>
                                        SendToEventRoom
                                        <ul class="text-sans-serif pb_font-12">
                                            <li><samp>arg1: userEmail</samp></li>
                                            <li><samp>arg2: eventId</samp></li>
                                            <li><samp>arg3: double latitude</samp></li>
                                            <li><samp>arg4: double longitude</samp></li>
                                        </ul>
                                    </li>
                                </ul>

                                <h3 class="mt-2 mb-2 heading">General Notes: </h3>
                                <ul class="text-sans-serif pb_font-14">
                                    <li> <samp>SendToEventRoom</samp> will be automatically called by the server whenever the event is update (Solved / Canceled) by the user.</li>
                                    <li> When the user cancels the event, all group members will get a special longitude and latitude value of [-1]</li>
                                    <li> When the user solves the event, all group members will get a special longitude and latitude value of [-2]</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col">
                        <h2 id="personnel_docs">Agent Hub</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <div class="media pb_feature-v2 text-left mb-1 mt-1">
                            <div class="media-body">
                                <h3 class="mt-2 mb-2 heading"><code>AgentRequestsChannel</code></h3>

                                <p class="text-sans-serif pb_font-16"><strong>Usage: </strong> Agents get notified of changes regarding SOSRequests through this channel.</p>
                                <p class="text-sans-serif pb_font-16"><strong>Expected Messages: </strong> Pings are sent in the form of JSON Messages:</p>

                                <div class="alert alert-secondary pb_font-16">
                                    <code>
                                        {<br />
                                        &nbsp;"requestId":82,<br />
                                        &nbsp;"requestState":"Pending"<br />
                                        }
                                    </code>
                                </div>

                                <h3 class="mt-2 mb-2 heading"><code>AgentRescuersChannel</code></h3>

                                <p class="text-sans-serif pb_font-16"><strong>Usage: </strong> Agents get notified of changes regarding the connections of rescuers in his department through this channel. <br /> Messages are sent whenever:</p>
                                <ul class="text-sans-serif pb_font-16">
                                    <li>An Agent get Connected</li>
                                    <li>An Agent goes Offline</li>
                                </ul>
                                <p class="text-sans-serif pb_font-16"><strong>Expected Messages: </strong> Messages are sent in the form of empty pings.</p>

                                <h3 class="mt-2 mb-2 heading">General Notes: </h3>
                                <ul class="text-sans-serif pb_font-14">
                                    <li>The online state of agent does not impact the state of a request.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col">
                        <h2 id="rescuer_docs">Rescuer Hub</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <div class="media pb_feature-v2 text-left mb-1 mt-1">
                            <div class="media-body">
                                <h3 class="mt-2 mb-2 heading"><code>RescuerChannel</code></h3>

                                <p class="text-sans-serif pb_font-16"><strong>Usage: </strong> Rescuer receives pings regarding new missions through this channel.</p>
                                <p class="text-sans-serif pb_font-16"><strong>Expected Messages: </strong> Pings are sent in the form of arguments:</p>
                                <ul class="text-sans-serif pb_font-16">
                                    <li><samp>arg1</samp>: SOSRequestId</li>
                                </ul>
                                <p class="text-sans-serif pb_font-16">Rescuer gets notified whenever:</p>
                                <ul class="text-sans-serif pb_font-16">
                                    <li>Request is accepted by an agent and is assigned to the rescuer</li>
                                    <li>Request is canceled by the owner user and was assigned to the rescuer</li>
                                </ul>


                                <h3 class="mt-2 mb-2 heading">General Notes: </h3>
                                <ul class="text-sans-serif pb_font-14">
                                    <li>The online state of rescuers is essential for Agents to (accept) a request and assign it to them.</li>
                                    <li>Once assigned a request, rescuers are bound to that request until either the request is canceled by the owner client, solved by the rescuer, OR had gone 'orphaned'.</li>
                                    <li>A rescuer can go offline anytime, and when he becomes online again the request would be reassigned to him.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col">
                        <h2 id="rescuer_docs">Realtime Location Tracking</h2>
                        <i>Available between Agents and Resuers</i>
                    </div>
                </div>
                <div class="row" id="LocationHubDocs">
                    <div class="col-lg">
                        <div class="media pb_feature-v2 text-left mb-1 mt-1">
                            <div class="media-body">
                                <p class="text-sans-serif pb_font-16">
                                    Tracking the location of Rescuers in a department is done under the supervision of an online Agent
                                    in the department. At least one Agent is required to be online for a <samp>SignalR Group</samp> to
                                    be created, containing Agent(s) of the department and any other rescuer.
                                </p>
                                <p class="text-sans-serif pb_font-16">
                                    Creating the group is flexible and the order of the users (Agent or Resucer) to become online does
                                    not affect the process of establishing the connection. When an Agent first connects to the Hub, a new
                                    group is created, any current online rescuer would be automatically added to the group, and any new
                                    rescuer connection is added to the group (if they are in the same department).

                                    <br />

                                    <strong>
                                        Note that for this feature to work, agents and rescuers must first connect to their hubs
                                        before connecting to the Location Tracking Hub.
                                    </strong>
                                </p>
                                <p class="text-sans-serif pb_font-16">
                                    When (all) Agents become offline, the group is deleted and removed from the trackers, even if there
                                    were active rescuers.
                                </p>

                                <h3 class="mt-2 mb-2 heading">Technicals</h3>

                                <p class="text-sans-serif pb_font-16">
                                    To start the tracking process, connect to <samp>/hubs/location</samp> and listen to
                                    incoming messages from these channels:
                                </p>

                                <ul class="text-sans-serif pb_font-16">
                                    <li>
                                        <samp>InfoChannel</samp>: Responsible for receiving information about the department of the user.
                                        <ul class="pb_font-14">
                                            <li>This is important and should be used by <strong>rescuers</strong> to identify them and add them to the appropriate <samp>SignalR Group</samp></li>
                                        </ul>
                                    </li>
                                    <li><samp>AlertsChannel</samp>: Responsible for receiving notifications about who connected / disconnected from the channel.</li>
                                    <li><samp>LocationChannel</samp>: The main channel, and is the one responsible for tracking the Rescuers in the deparment  of an Agent</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/realtime_client.js" type="module"></script>
}