<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      internalinternalLogLevel="Warn">

  <extensions>
    <add assembly="PersonalSafety"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target name="allfile" xsi:type="File"
            fileName="${basedir}/../../../Logs/${shortdate}.log"/>

    <target name="HubNlogHelper" type="HubNlogHelper" layout="${longdate} | ${message}"/>
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Trace" writeTo="HubNlogHelper" />
  </rules>
</nlog>