
@{
    ViewData["Title"] = "Index";
}

<style>
    pre {
        outline: 1px solid #ccc;
        padding: 5px;
        margin: 5px;
    }
    .string {color: green;}
    .number {color: darkorange;}
    .boolean {color: blue;}
    .null {color: magenta;}
    .key {color: red;}
</style>

<section class="pb_xl_py_cover pb_gradient_v1" style="padding:0px !important; background-image: url(assets/images/1900x1200_img_5.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5 justify-content-center">
                <h2 class="heading mb-5 pb_font-40">Adminstrator Panel</h2>
                <div class="sub-heading">
                    <p class="mb-4">Provide your credentials to access elevated actions.</p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <form asp-controller="AdminVisual" asp-action="Login" enctype="multipart/form-data" method="post" class="bg-white rounded pb_form_v1">
                    <h2 class="mb-4 mt-0 text-center">Login</h2>
                    <div asp-validation-summary="All" class="text-danger">
                        <div class="form-group">
                            <input name="email" type="email" class="form-control py-3 reverse" placeholder="Email" required>
                        </div>

                        <div class="form-group">
                            <input name="password" type="password" class="form-control py-3 reverse" placeholder="Password" required>
                        </div>

                        @*<div class="form-group pb_height-60" style="visibility:hidden"></div>*@
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" value="Proceed">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="pb_section bg-white pb_pb-250" id="section-bookmarks">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-6 text-center mb-5">
                <div class="pb_feature-v1"><div class="pb_icon"><i class="ion-ios-speedometer-outline pb_icon-gradient"></i></div></div>
                <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Admin</strong></h5>
                <h2>Tools</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md- col-sm-12">
                <div class="media d-block pb_feature-v1 text-left">
                    <div class="media-body">
                        <div class="row justify-content-center">

                            <div class="col-md">
                                <div class="pb_pricing_v1 p-5 border border-primary text-center bg-white text-sans-serif">
                                    <h3>Current Connections</h3>

                                    <div class="pb_height-10" style="visibility:hidden"></div>

                                    <div class="row justify-content-center">
                                        <div class="progress" style="width:65%; height:10px">
                                            <div id="retrieve_connection_bar"class="progress-bar" role="progressbar" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                <span class="sr-only">70% Complete</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pb_height-10" style="visibility:hidden"></div>

                                    <p class="pb_font-15">Get information about current ongoing connection with the server's SignalR Realtime channel.</p>
                                    <p class="mb-0"><a href="#" role="button" class="btn btn-primary">Retrieve</a></p>

                                    <br />
                                    <br />

                                    <div id="json_response" class="alert alert-secondary" style="font-family: Consolas, monaco, monospace;" role="alert">
                                        A simple secondary alert—check it out!
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/admin_client.js"></script>
}

