
@{
    ViewData["Title"] = "Admin Panel";
}

    <style>
        table {font-size: 14px;}
        th {color: darkslategray;}
        td {color: olivedrab;}
        #console_container {
            font-family: Consolas, monaco, monospace;
            background-color: black;
            color: white;
            font-size: 14px
        }
        #console_container > p {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>

<section class="pb_xl_py_cover pb_gradient_v1" style="padding:0px !important; background-image: url(assets/images/1900x1200_img_5.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5 justify-content-center">
                <h2 class="heading mb-5 pb_font-40">Adminstrator Panel</h2>
                <div class="sub-heading">
                    <p class="mb-4">Provide your credentials to access elevated actions.</p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div id="login_form" class="col-md-6">
                <div class="bg-white rounded pb_form_v1">
                    <h2 class="mb-4 mt-0 text-center">Login</h2>

                    <div class="form-group">
                        <input id="input_email" name="email" type="email" class="form-control py-3 reverse" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <input id="input_password" name="password" type="password" class="form-control py-3 reverse" placeholder="Password" required>
                    </div>

                    <div class="form-group">
                        <input id="btn_login" type="button" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-milon" value="Proceed">
                    </div>

                    <div class="form-group">
                        <p class="text-danger" id="login_result"></p>
                    </div>
                </div>
            </div>
            <div id="logged_in_notifier" class="col-md-6" hidden>
                <div class="bg-white rounded pb_form_v1">
                    <div id="alert_container_disconnected" class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
                        <a id="a_refresh" class="text-dark" style="text-decoration:none; cursor: pointer;">Connection to server dropped. Refresh now.</a>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <h2 class="mb-4 mt-0 text-center">Logged in as:</h2>

                    <div class="row justify-content-center">
                        <samp id="current_email"></samp>
                    </div>

                    <br />
                    <div class="row justify-content-center">
                        <a id="link_logout" href="#" class="text-danger">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb_section bg-white pb_pb-250" id="section-tools" hidden>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-6 text-center mb-5">
                <div class="pb_feature-v1"><div class="pb_icon"><i class="ion-ios-speedometer-outline pb_icon-gradient"></i></div></div>
                <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Admin</strong></h5>
                <h2>Tools</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md- col-sm-12">
                <div class="media d-block pb_feature-v1 text-left">
                    <div class="media-body">
                        <div class="row justify-content-center">

                            <div class="col-md-12">
                                <div id="retrieve_main_container" class="pb_pricing_v1 p-5 border text-center bg-white text-sans-serif">
                                    <h3>Current Connections</h3>

                                    <div class="pb_height-10" style="visibility:hidden"></div>

                                    <div class="row justify-content-center">
                                        <div class="progress" style="width:20%; height:10px">
                                            <div id="retrieve_connection_bar" class="progress-bar" role="progressbar" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                <span class="sr-only">70% Complete</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pb_height-10" style="visibility:hidden"></div>

                                    <p class="pb_font-15">Get a fully detailed list of users who currently have an ongoing connection with the server's SignalR Realtime channel, including their emails, userIds, and connectionIds.</p>
                                    <input id="btn_retrieve" type="button" class="btn btn-secondary" value="Retrieve" />
                                    &nbsp;
                                    <input id="btn_reset_trackers" type="button" class="btn btn-dark" value="Reset Trackers" />
                                    <br />
                                    <br />

                                    <div id="retrieve_result" class="alert alert-secondary" style="font-family: Consolas, monaco, monospace;" role="alert" hidden>
                                        <div class="table-responsive" id="table_container">


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div id="console_main_container" class="pb_pricing_v1 p-5 border text-center bg-white text-sans-serif">
                                    <h3>Readonly Console</h3>

                                    <div class="pb_height-10" style="visibility:hidden"></div>

                                    <div class="row justify-content-center">
                                        <div class="progress" style="width:20%; height:10px">
                                            <div id="retrieve_console_bar" class="progress-bar" role="progressbar" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                <span class="sr-only">70% Complete</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pb_height-10" style="visibility:hidden"></div>

                                    <p class="pb_font-15">Preview console written messages related to SignalR while hosted.</p>
                                    <input id="btn_console_launch" type="button" class="btn btn-secondary" value="Launch" />
                                    &nbsp;
                                    <input id="btn_clear" type="button" class="btn btn-dark" value="Clear" />
                                    <br />
                                    <br />

                                    <div id="console_container" class="alert text-left" role="alert" hidden>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="reset_client_main_container" class="pb_pricing_v1 p-5 border text-center bg-white text-sans-serif">
                                    <h3>Reset Client Connection</h3>

                                    <div class="pb_height-10" style="visibility:hidden"></div>

                                    <div class="row justify-content-center">
                                        <div class="progress" style="width:40%; height:10px">
                                            <div id="progress_bar_reset_client" class="progress-bar" role="progressbar" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                <span class="sr-only">70% Complete</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pb_height-10" style="visibility:hidden"></div>

                                    <p class="pb_font-15">Reset the trackers for a particular client.</p>

                                    <div class="pb_height-10" style="visibility:hidden"></div>

                                    <div class="form-group row d-flex justify-content-center">
                                        <div class="col-sm-8">
                                            <input id="field_reset_client" class="form-control py-3" type="text">
                                        </div>

                                        <div class="pb_height-10" style="visibility:hidden"></div>

                                        <input id="btn_reset_client" type="button" class="btn btn-secondary col-sm-2" value="Reset" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div id="reset_rescuer_main_container" class="pb_pricing_v1 p-5 border text-center bg-white text-sans-serif">
                                    <h3>Reset Rescuer Connection</h3>

                                    <div class="pb_height-10" style="visibility:hidden"></div>

                                    <div class="row justify-content-center">
                                        <div class="progress" style="width:40%; height:10px">
                                            <div id="progress_bar_reset_rescuer" class="progress-bar" role="progressbar" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                <span class="sr-only">70% Complete</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pb_height-10" style="visibility:hidden"></div>

                                    <p class="pb_font-15">Reset the trackers for a particular rescuer.</p>

                                    <div class="pb_height-10" style="visibility:hidden"></div>

                                    <div class="form-group row d-flex justify-content-center">
                                        <div class="col-sm-8">
                                            <input id="field_reset_rescuer" class="form-control py-3" type="text">
                                        </div>

                                        <div class="pb_height-10" style="visibility:hidden"></div>

                                        <input id="btn_reset_rescuer" type="button" class="btn btn-secondary col-sm-2" value="Reset" />
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/admin_client.js" type="module"></script>
}

