<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Personal Safety</title>
    <meta name="description" content="Free Bootstrap 4 Template by uicookies.com">
    <meta name="keywords" content="Free website templates, Free bootstrap themes, Free template, Free bootstrap, Free website template">

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/fonts/law-icons/font/flaticon.css">

    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/font-awesome.min.css">


    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/slick-theme.css">

    <link rel="stylesheet" href="~/assets/css/helpers.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/landing-2.css">

    @await Html.PartialAsync("_Favicons")
</head>
<body data-spy="scroll" data-target="#pb-navbar" data-offset="200" class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
        <div class="container">
            <a class="navbar-brand" href="index">Personal Safety</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="ion-navicon"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="probootstrap-navbar">
                <ul class="navbar-nav ml-auto" style="padding-bottom: 16px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account Management
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="~/SendConfirmationMail" target="_blank">Activate Account</a>
                            <a class="dropdown-item" href="~/ForgotPasswordMail" target="_blank">Reset Password</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="~/RealtimeClient" target="_blank">Realtime Client</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/admin" target="_blank">Admin Portal</a></li>
                    <li class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link" href="~/swagger" target="_blank"><span class="pb_rounded-4 px-4">Documentation</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    <div>
        @RenderBody()
    </div>
    <footer class="pb_footer bg-light" role="contentinfo">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://github.com/bfahm/PersonalSafety" target="_blank" class="p-2"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p class="pb_font-14">© 2020. All Rights Reserved. <br>
                </div>
            </div>
        </div>
    </footer>
    <div id="pb_loader" class="fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"></circle><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#1d82ff"></circle></svg></div>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @RenderSection("Scripts", false/*required*/)

    <script src="~/lib/signalr.js"></script>

    @*Disable autocomplete in all the website*@
    <script>
        $(':input').attr("autocomplete", "off");
    </script>
</body>

</html>
